---
name: Release to PyPI

on: workflow_dispatch

jobs:
  build_sdist:
    name: Build source package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install/Upgrade dependencies
      run: |
        sudo apt install -y make cmake zlib1g-dev lbzip2 libxml2-dev lzma-dev swig
        sudo apt install -y python3 python3-pip git
        python3 -m pip install --upgrade pip scikit-build
        python3 -m pip install --upgrade pip scikit-build

    - name: Build and install Python source package
      run: |
        python3 setup.py sdist
        python3 -m pip install dist/*.tar.gz

    # - name: Run tests
    #   run: |
    #     pip install pytest
    #     pytest --verbose --color=yes test/

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz


  build_bdist:
    name: Build binary wheels
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # setup Python for cibuildwheel
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    # for other architectures, see: https://cibuildwheel.readthedocs.io/en/stable/faq/#emulation
    - name: Build wheels for CPython
      uses: pypa/cibuildwheel@v2.12.0
      env:
        CIBW_ARCHS: auto64  # only 64-bit
        CIBW_SKIP: "pp* *-musllinux*"  # no PyPy or musl builds
        CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014  # centos 7
        CIBW_BEFORE_ALL: yum install -y make cmake zlib-devel bzip2-devel libxml2-devel xz-devel swig
        CIBW_BEFORE_BUILD: python -m pip install scikit-build
        # CIBW_TEST_REQUIRES: pytest
        # CIBW_TEST_COMMAND: pytest --verbose --color=yes {project}/test/


    - uses: actions/upload-artifact@v2
      with:
        path: ./wheelhouse/*.whl


  upload_pypi:
    name: Publish packages to PyPI
    # only publish packages once everything is successful
    needs: [build_bdist, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          # To test: repository_url: https://test.pypi.org/legacy/
